body{
    border: 3px solid;
    height: 300px;
    padding: 15px;
    display: flow-root;
}

img{height: 150px;


}
#img1{
    float: left;
    margin-right: 10px;
}
#img2{
    float: right;
    margin-left: 10px;
}