
h1{
    font-style: italic;
    text-align: center;
    color: aliceblue;
}
body{
    background-image: url(pic.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.loginbox{
    background: rgba(0, 0,0,0.65);
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}
#para{
    color: aliceblue;
}
input[type="text"],input[type="password"]{
    border-radius: 8px;
    text-align: center;
}


